@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --background: 48 60% 100%;
      --foreground: 48 63% 3%;
      --card: 0 0% 99%;
      --card-foreground: 48 63% 2%;
      --popover: 48 60% 100%;
      --popover-foreground: 48 63% 3%;
      --primary: 48 96% 53%;
      --primary-foreground: 48 96% 13%;
      --secondary: 18 96% 53%;
      --secondary-foreground: 0 0% 0%;
      --accent: 78 96% 53%;
      --accent-foreground: 78 96% 13%;
      --destructive: 12 93% 39%;
      --destructive-foreground: 0 0% 100%;
      --muted: 18 31% 91%;
      --muted-foreground: 18 7% 25%;
      --border: 48 6% 94%;
      --input: 48 6% 94%;
      --input-invalid: 0 84.2% 60.2%;
      --ring: 48 96% 53%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 48 39% 1%;
      --foreground: 48 25% 100%;
      --card: 48 39% 2%;
      --card-foreground: 0 0% 100%;
      --popover: 48 39% 1%;
      --popover-foreground: 48 25% 100%;
      --primary: 48 96% 53%;
      --primary-foreground: 48 96% 13%;
      --secondary: 18 96% 53%;
      --secondary-foreground: 0 0% 0%;
      --accent: 78 96% 53%;
      --accent-foreground: 78 96% 13%;
      --destructive: 12 93% 47%;
      --destructive-foreground: 0 0% 100%;
      --muted: 18 31% 9%;
      --muted-foreground: 18 7% 75%;
      --border: 48 6% 15%;
      --input: 48 6% 15%;
      --input-invalid: 0 62.8% 30.6%;
      --ring: 48 96% 53%;
    }
  }
  

@layer base {
	* {
		@apply border-border;
		box-sizing: border-box;
		min-width: 0;
	}

	body {
		@apply bg-background text-foreground;

		font-feature-settings:
			'rlig' 1,
			'calt' 1;
	}

	h1, h2, h3, h4 {
		text-wrap: balance;
	}

	p {
		text-wrap: pretty;
	}
}
